@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    margin:0;
    padding: 0;
    user-select: none;
}
/* ბურგერ მენიუ */
.text{
    color: white;
    font-size: 24px;
    max-width: 1200px;
    width: 66%;
    padding: 20px 0 80px 20px;
}
.sidebar{
    width: 250px;
    height:100%;
    left: 0;
    background: #1b1b1b;
    display: block;
}
.burger {
    display: flex;
}
.burger-icon {
    justify-content: space-between;
    margin-top:25px;
   
}
.burger-icon > a {
    color: white;
}
.bar{
    list-style-type: none;
    line-height: 60px;
}
li a{
    text-decoration: none;
    color: white;
    padding-left: 50px;
    display: block;
    width: 80%;
    font-family: 'AvenirMedium', sans-serif;
}
.bar:hover{
    color: white;
    background-color: #FF2288;
    border-radius: 10px;
    padding: 0;
}
.fi-rr-home, .fa-compass, .fi-rr-folder, .fi-rr-star, .fi-rr-subtitles {
    margin-right: 10px;
}
.foll{
    font-size: 12px;
    color: white;
    padding: 100px 0 35px 0;
    padding-left: 50px;
}
.follow{
    margin-right: 15px;
    text-align: center;
}
.foll a{
    text-decoration: none;
    color: white;
    font-family: 'AvenirMedium', sans-serif;
}
.load{
    font-size: 14px;
    padding-left: 50px;
    padding-bottom: 80px;
}
.load a{
    text-decoration: none;
    color: white;
}

/* start header */
header{
    margin-left: 20px;
    margin: 0 auto;
   max-width: 1200px;
   width: 100%;
    justify-content: space-between;
}
.search{
    display: flex;
    background-color: #F8F8F8;
    padding: 10px;
    width: 30%;
    height: 30px;
    justify-content: space-between;
    border-radius: 10px;
    margin:20px 0;
}
input{
    border:0;
    background-color: #F8F8F8;

}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 40%;
    margin-top: 20px;
}
.button1{
    text-decoration: none;
    color: #FF2288;
}
.menu a{
    text-decoration: none;
}
.bell, .sms, .fa-user{
    margin-top: 20px;
    color: black;
}
.bell:hover, .sms:hover, .fa-user:hover{
    color: #FF2288;
}
.button{
    background-color: #FF2288;
    color: white;
    border-radius: 15px;
    text-align: center;
    max-width: 1200px;
    padding: 15px;
    list-style: none;
    margin-right: 5px;
}
.fa-cloud-upload-alt{
    display: none;
}
.line{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-left: -2px;
}
.button1{
    list-style: none;
    margin-top: 17px;
}
.man{
    width: 56px;
    height: 56px;
}

/* start body */
.right{
    margin: 0 0 0 2%;
    box-sizing: border-box;
}
.right1{
    margin: 0 0 0 2%;
    box-sizing: border-box;
    width: 100%;
}
.mobile{
    display: none;
}
.container {
    display: flex;
}
.startbody{
    width: 70%;
}
.bodybar{
    list-style: none;
    justify-content: space-between;
}
.startbody ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.startbody a {
    text-decoration: none;
    color: black;
}
.bodybar li {
    padding:15px;
}
.bodybar a:hover{ 
    text-align: center;
    border-radius: 15px;
    background-color:#F2F2F2;
}
.all{
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.oben{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.filter{
    display: flex;
    justify-content: space-between;
    width: 9%;
    margin-top: 35px;
    border: 2px solid #d8d8d8;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
}
.filter:hover{
    background-color: rgb(135, 172, 241);
}
.fi-rr-settings-sliders{
    margin: 0 10px 0 5px;
}
.filterend{
    font-size: 16px;
    margin-top: 5px;
}
.filterend a{
    text-decoration: none;
    color: black;
}
.firstline, .secondline{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    flex-wrap: wrap;
    width: 100%;
}
.firstline{
    margin-bottom:20px ;
    margin-top: 40px;
    font-family: 'AvenirMedium', sans-serif;
}
.firstline img:hover{
    width:250px;
    height: 180px;
}
.secondline {
    font-family: 'AvenirMedium', sans-serif;
}
.secondline img:hover{
    width: 250px;
    height: 180px;
}
.firstbody{
    margin: 0px 20px 0 20px;
}
section p{
    text-align: center;
}
.More{
    font-size: 16px;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 289px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-family: 'AvenirHeavy', sans-serif;
}
.More:hover{
    background-color: cornflowerblue;
}
.box{
    background-color: #FAFAFA;
    width: 100%;
    padding-bottom: 55px;
}
.boxes{
    padding-left: 35px;
}
.box1{
    margin: 75px 0 90px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 100px;
    padding-left: 35px;
    padding: 100px 0 0 35px;
    font-family: 'AvenirHeavy', sans-serif;
}
.box img{
    width: 132px;
    height: 132px;
}
.box img:hover{
    width: 180px;
    height: 180px;
}
.box2{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.box2 a{
    text-decoration: none;
    color: black;
}
.box2 a:hover{
    background-color: #FF2288;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
h3{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'AvenirMedium', sans-serif;
}
h5{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    font-family: 'AvenirBook', sans-serif;
}
h4{
    font-size: 14px;
    text-align: center;
    border: 1px solid #F2F2F2;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    font-family: 'AvenirHeavy', sans-serif;
}
.click{
    margin-top: 10px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
}
/* body sacond page */
.second-menu{
    color: black;
    font-size: 18px;
    font-family: 'AvenirHeavy', sans-serif;
}
.second-menu li{
    list-style: none;

}
.second-menu >ul{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-left: 28px;
    text-align: center;
    padding: 80px 0 20px 0;
}
.second-menu2 li{
    list-style: none;
    font-family: 'AvenirHeavy', sans-serif;
    color: #AFAFAF;
    font-size: 16px;
}
.second-menu2 li:hover{
    color:#FF2288;
    font-size: 18px;
}
.pink li{
    color: #FF2288;
}
.border{
    background-color: #F2F2F2;
}
.second-menu2 >ul{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 85%;
    margin-left: 18px;
    text-align: center;
    padding:15px 50px 15px 10px;
}
.line3{
    width: 88%;
    margin-left: 30px;
    color: #E7E7E7;
}
.b {
    margin-left: 50px;
}
.c {
    margin-left: 100px;
}
.d {
    margin-left: 60px;
}
.e {
    margin-left: 120px;
}
.f{
    margin-left: 140px;
}
/* start footer */
footer{
    margin-top: 100px;
}

.boxes1 a{
    text-decoration: none;
    color: black;
    font-family: 'AvenirHeavy', sans-serif;
}
.boxes1{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
    font-family: 'AvenirHeavy', sans-serif;
}
.box3 a, .box4 a, .box5 a, .box6 a{
    display: block;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 1200px;
    width: 80%;
    font-family: 'AvenirHeavy', sans-serif;
}
.line2{
    margin-top:40px;
    width: 95%;
    height: 1px;
    color: #707070;
}
.end{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 95%;
}
.inst{
    margin: 10px 10px;
}
/* responsive */
@media(max-width: 1024px){
    .filt{
        display: none;
    }
    .filterend{
        margin-bottom: 10px;
        margin-left: 60px;
    }
    .filter{
        border:unset;
    }
    .upl{
        display: none;
    }
    .fa-cloud-upload-alt{
        display: block !important;
    }
    .search{
        width: 30%;
    }
    div .bodybar{
        display: none;
    }
    .top{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .menu{
        width: 50%;
    }
    .mobile{
        display: block !important;
        width: 20%;
    }
    .mobile a{
        text-decoration: none;
        list-style-type: none;
        font-family: 'AvenirHeavy', sans-serif;
        background-color: #f1eded;
        padding:5px 5px 5px 1px;
        border-radius: 10px;
    }
    .fi-rr-menu-dots-vertical{
        display: block !important;
    }
}
@media(max-width: 768px){
    .filterend{
        margin-bottom: 10px;
        margin-left: 50px;
    }
    .list{
        display: none;
    }
    .search{
        width: 40%;
    }
    .button1{
        display: none;
    }
    .firstline, .secondline{
        margin-left: 15%;
    }
    .View{
        display: none;
    }
}

@media(max-width: 425px){
    .filterend{
        margin-bottom: 10px;
        margin-left: 50px;
    }
    .list{
        display: none;
    }
    .search{
        width: 60%;
    }
    .fa-cloud-upload-alt{
        display: none;
    }
    .button1{
        display: none;
    }
    .firstline, .secondline{
        margin-left: 15%;
    }
    .View{
        display: none;
    }
}